@import "../../../themeScss/variables";

.radio-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: $scale-4;
  width: 100%;
  position: relative;
}

.radio-button {
  display: inline-flex;
  align-items: center;
  gap: $scale-8;
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: $scale-14;
  color: $text-primary;
  position: relative;

  &--disabled {
    cursor: not-allowed;
    color: $text-tertiary;

    .radio-button__circle {
      background-color: $surface-disabled;
      border-color: $border-muted;
    }
  }

  &--focused:not(.radio-button--disabled) {
    .radio-button__circle {
      box-shadow: $shadow-focus-default;
      border-color: $border-focus;
    }
  }

  &--destructive:not(.radio-button--disabled) {
    .radio-button__circle {
      border-color: $red-100;
    }

    &.radio-button--focused .radio-button__circle {
      box-shadow: $shadow-focus-danger;
      border-color: $red-100;
    }

    .radio-button__label {
      color: $text-danger;
    }
  }
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &:checked + .radio-button__circle {
    border-color: $azure-400;

    .radio-button__icon {
      opacity: 1;
      color: $azure-400;
    }
  }

  &:disabled + .radio-button__circle {
    background-color: $surface-disabled;
    border-color: $border-muted;

    .radio-button__icon {
      color: $icon-secondary;
    }
  }
}

.radio-button__circle {
  width: $scale-16;
  height: $scale-16;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-width-1 solid $border-default;
  border-radius: $border-radius-512; // Fully rounded for circular shape
  background-color: $surface-default;
  transition: all 0.2s ease-in-out;

  .radio-button__icon {
    width: $scale-10;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color: $icon-active;
    fill: currentColor; // Ensures the circle is filled
  }
}

.radio-button__label {
  line-height: $line-height-normal;
  user-select: none;
}

.radio-button__required {
  color: $text-danger;
  margin-left: $scale-2;
}

.radio-button__hint {
  display: flex;
  align-items: center;
  gap: $scale-6;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: $scale-12;
  color: $text-secondary;
  line-height: $line-height-normal;

  &--destructive {
    color: $text-danger;
  }
}

.radio-button__hint-icon {
  flex-shrink: 0;
  color: $text-danger;
}
